.main{
    display: flex;
    align-items: center;
}

body {
    background: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.closeButton {
    background: none;
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}


.signup-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}
.signup-form > input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.dataNasc p {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}
.dataNasc label{
    font-weight: bold;
}

select {
    width: 32%;
    height: 30px;
    color: #888;
    
}


p {
    font-size: 16px;
    margin: 10px 0;
}

label{
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:disabled {
    background: gray;
    cursor: not-allowed;
}