body{
    color: rgb(15, 20, 25);
    display: flex;
}

.navegação{
    padding-right: 60px;
    border-right: 2px solid rgb(230, 236, 240);
}

.navegação li{
    margin-bottom: 20px;
    list-style: none;
    display: flex;

}
.navegação a{
    color: rgb(15, 20, 25);
    text-decoration: none;
    padding: 5px;
}

.navegação img{
    margin-top: 20px;
    margin-left: 40px;
    max-width: 25px;
}

.navegação li:hover{
    background-color: rgba(15, 25, 20, 0.1);
    border-radius: 8px;
}

.navegação button {
    padding: 10px 40px;
    border: none;
    border-radius: 50px;
    background-color: #1d9bf0;
    color: white;
    cursor: pointer;
}

.navegação button:hover {
    background-color: #187bcd;
}

.tzeetMobile{
    display: none;
}

.profileContainer{
   flex: 2;
   padding: 10px;
}
.profile img{
    max-height: 100px;
    border-radius: 100%;
}

.profile h4,
.profile p{
    color: rgb(15, 20, 25);
}
.profile h5{
    color: rgb(83, 100, 113);
    margin-bottom: 10px;
    
}

.profile button {
    margin-top: auto;
    float: right;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #1d9bf0;
    color: white;
    cursor: pointer;
    margin: 60px;
}

.infos{
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    color: rgb(83, 100, 113);
}

.infos li{
    display: inline-block;
}

.estatistica{
    display: flex;
    list-style: none;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
}

.estatistica li > a{
    color: rgb(83, 100, 113);
    text-decoration: none;
    font-weight: normal;
}

span.numSeg{
    color: rgb(15, 20, 25);
    font-weight: bold;
}

.estatistica li > a:hover{
    text-decoration: underline;
}

.publicações {
    display: flex;
    margin-bottom: 20px;
}

.publicações > a{
    min-width: 25%;
    text-align: center;
    color: rgb(83, 100, 113);
    text-decoration: none;
    border-right: 2px solid  rgb(189, 199, 206);
}

.publicações a:hover{
    background-color: rgba(15, 25, 20, 0.1) ;
    width: 20px;
}

.publicações > a:last-child {
    border-right: none; 
}

.tzeet div {
    display: flex;
    align-items: center;
}

.tzeet div img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
}
.ações{
    display: flex;
    justify-content: space-around;  
    padding: 5px 10px;
    border-radius: 10px;
    gap: 5px;
    max-height: 30px;
    max-width: 100%;
}

.ações a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(44, 77, 102);
    padding: 18px;
}

.ações a i{
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ações a.reply:hover,
.ações a.share:hover{
    color: rgba(29, 155, 240, 1);
}

.ações a.retzeet:hover{
    color: rgba(0, 186, 124, 1);
}

.ações a.like:hover{
    color: rgba(249, 24, 128, 1);
    
}

.user{
    color: rgb(15, 20, 25);
    margin-bottom: 10px;
    margin: 10px;
}

.user time, span.arroba{
    color: rgb(83, 100, 113);
}


article.tzeet:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

article.tzeet p{
    padding-left: 20px;
    
}

article.tzeet{
    border-bottom: 1px solid rgb(230, 236, 240);
    padding: 10px;
}
article.tzeet:last-child {
    border-bottom: none; 
}

.sugestoes{
    background-color:rgb(241, 238, 238);;
    padding: 10px;
}

.sugestoes h5 {
    margin: 0 0 10px 0;
    color: rgb(15, 20, 25);
    font-size: 15px;
}


.buscar{
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: rgb(241, 238, 238);

}
.perfisrecomendados .nome{
    text-decoration: none;
}

.perfisrecomendados .nome:hover{
    text-decoration: underline;
}

.buscar input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 8px;
    font-size: 14px;
    color: rgb(83, 100, 113);
}

.perfisrecomendados{
    list-style: none;
    padding: 0px;
    margin: 0;

}
.perfisrecomendados img{
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.sugestoes ul li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
}
.perfilsugerido {
    margin-left: 10px;
}

.perfisrecomendados button {
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: #1d9bf0;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.perfisrecomendados button:hover {
    background-color: #187bcd;
}

.mostrarMais{
    list-style: none;
    display: block;
    text-align: left;
    margin-top: 10px;
    text-decoration: none;
    padding-left: 10px ;
}


@media (max-width: 768px) {


    .navegação {
        max-width: 10%;
    }

    .navegação a span {
        display: none;
    }

    .navegação button {
        padding: 10px 25px;
        border: none;
        border-radius: 50px;
        background-color: #1d9bf0;
        color: white;
        cursor: pointer;
    }

   
    .sugestoesContainer{
        display: none;
    }
}
